*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
body{
    font-family: 'iranyekan_numbers','iranyekan';
    box-sizing: border-box;
    height: auto;
    width: auto;
}
.container{
    width: 90%;
    margin:  0 auto;
}
.flex{
    height: auto;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.svg{
    width: 50%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    gap: 1%;
    justify-content: start;
}
.svg a .s{
    color: #b6abab ;
}
.svg a .s:hover{
    color: black ;
}
.text{
    width: 50%;
    display: grid;
    grid-template-columns: 20% 15% 15%;
    gap: 5%;
    justify-content: end;
}
a{
    text-decoration: none;
}
.text a .t{
    color: #747171;
    font-size: 0.7rem;
}
.text a .t:hover{
    color: black;
}
.container1{
    width: 80%;
    margin: 0 auto;
}
.container1 .flex1{
    border: solid 1px #747171;
    padding: 2rem 0;
    display: flex;
    flex-direction: row-reverse;
}
.container1 .flex1 .right{
    width: 50%;
    direction: rtl;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    justify-content: start;
    gap: 1px;
}
.flex1 .right a{
    text-decoration: none;
    color: black;
}
.flex1 .left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex1 .left a{
    width: 8%;
    align-items: center;
}
.flex1 .left a img{
    width: 100%;
}
.flex1 .left svg{
    margin-left: 4rem;
}
.container1 p{
    padding: 1rem 0;
    text-align: center;
    font-size: 0.91rem;
    color: #747171;
    border-bottom: #747171 1px dashed;
}
.container1 p a{
    text-decoration: none;
}
.container1 p span{
    color: red;
}
.flex1-1{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 0;
    justify-content: center;
}
.flex1-1 .right{
    width: 20%;
    margin-left: 1rem;
}
.flex1-1 .left{
    direction: rtl;
    width: 45%;
    display: grid;
    gap: 1%;
    grid-template-columns: auto auto auto auto auto;
}
.flex1-1 .left a{
    text-align: center;
    box-shadow: 2px 4px 2px #e4e0e0;
    color: black;
    font-size: 0.61rem;
    border: #747171 solid 1px;
    border-radius: 1rem;
}
/* slayder */
.container3 img{
    max-width: 100%;
}
.container3{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container3 .img{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
.container3 .img .img-3{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: 100%;
}
.container3 .img .img-3 img{
    width: 100%;
}
.bacground{
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 1rem;
    box-shadow: #d36d6d 2px 2px 19px
}
.container4{
    width: 85%;
    margin: 0 auto;
}
.container4 .flex4{
    background-color: #747171;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container4 .flex4 .right{
    width: 70%;
    margin-top: 1rem;
}
.container4 .flex4 .right .top{
    border: 1px red  dashed;
    margin-bottom: 3rem;
    border-radius: 0.71rem;
    text-align: -webkit-right;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem;
}
.container4 .flex4 .right .top .text{
    width: 70%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
.container4 .flex4 .right .top .text .text1{
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
}    
.container4 .flex4 .right .a{
    background-color: rgb(252, 185, 99);
    color: rgb(253, 120, 72);
    border-radius: 1rem;
    margin-right: 1rem;
}
.container4 .flex4 .right a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
    padding: 0 0.5rem;
}
.container4 .flex4 .right .top .icon{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: red;
}
.container4 .flex4 .right .top .icon .number{
    margin-left: 0.61rem;
}
.container4 .bottom .card{
    margin-top: 3rem;
    display: flex;
    flex-direction: row-reverse;
}
.container4 .bottom .card .img{
    width: 30%;
}
.container4 .bottom .card img{
    width: 100%;
}
.container4 .bottom .card .text{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.container4 .bottom .card .text .row1{
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}
.container4 .bottom .card .text .row1 .update{
    background-color: rgb(235, 65, 65);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: white;
    padding: 0 0.5rem;    
}
.container4 .bottom .card .text .row1 a{
    color: black;
    font-size: 1rem;
}
.container4 .bottom .card .text .row2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}
.container4 .bottom .card .text .row2 .col1{
    align-items: center;
    justify-content: center;
    width: 20%;
}
.container4 .bottom .card .text .row2 .col1 .icon{
    width: 80%;
    margin: 0% auto;
}
.container4 .bottom .card .text .row2 .col1 svg{
    width: 100%;
}
.container4 .bottom .card .text .row2 .col2{
    width: 50%;
    text-align: end;
}
.container4 .bottom .card .text .row2 table td{
    padding: 0.2rem 0.5rem; 
    font-size: 0.71rem;
}
.container4 .bottom .card .text .row3{
    font-size: 0.68rem;
    direction: rtl;
    margin-top: 1rem;
}
.container4 .bottom .card .text .row4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin: 2rem 0;
}
.container4 .bottom .card .text .row4 .right{
    display: flex;
    flex-direction: row;
    width: 20%;
}
.container4 .bottom .card .text .row4 .right .textt{
    color: black;
    width: 50%;
}
.container4 .bottom .card .text .row4 .right .textt a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.container4 .bottom .card .text .row4 .right .iconn{
    color: black;
    width: 50%;
    font-size: 1rem;
}
.container4 .bottom .card .text .row4 .left{
    width: 25%;
    background-color: #f5ffdc;
    display: flex;
    flex-direction: row;
}
.container4 .bottom .card .text .row4 .left .text{
    width: 80%;
    justify-content: center;
}
.container4 .bottom .card .text .row4 .left .text a{
    text-decoration: none;
    color: #829061;
    text-align: center;
    font-size: 0.65rem;
}
.container4 .bottom .card .text .row4 .left .icon{
    color: #829061;
    width: 20%;
}
.line{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.line .hr{
    width: 25%;
    border-bottom: #747171 1px solid;
}
.line .text{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}
.line .text .t{
    width: 90%;
    direction: rtl;
    font-size: 0.65rem;
}
.line .text .i{
    width: 10%;
}
.line .text .i svg{
    color: red;
    width: 100%;
}
.button{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button .b{
    width: 20%;
}
.button .b button{
    width: 100%;
    color: white;
    background-color: #2374ef;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}
.button .b button a{
    color: white;
    font-size: 1rem;
}
.container4 .flex4 .left{
    width: 25%;
    margin-top: 1rem;
}
.container4 .flex4 .left .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 26px -27px 37px #e7e7e7;
}
.container4 .flex4 .left .flex .image{
    margin-top: 1rem;
    width: 90%;
}
.container4 .flex4 .left .flex .img{
    margin-top: 1rem;
    width: 100%;
}
img{
    width: 100%;
}
.container4 .flex4 .left .flex .image img{
    width: 100%;
}
.container4 .flex4 .left .flex .text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.container4 .flex4 .left .flex .text .p1{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    width: 100%;
}
.container4 .flex4 .left .flex .text .p1 p{
    font-size: 0.6rem;
    width: 60%;
}
.container4 .flex4 .left .flex .text .p1 b{
    width: 30%;
    font-size: 0.7rem;
}
.container4 .flex4 .left .flex .icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
.container4 .flex4 .left .flex .text .icon a{
    width: 30%;
}
.container4 .flex4 .left .flex .text .icon a svg{
    width: 100%;
    color: black;
}
.container4 .flex4 .left .flex .text .li{
    line-height: 2.5rem;
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.container4 .flex4 .left .flex .text .li ul{
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}
.container4 .flex4 .left .flex .text .li ul li a{
text-decoration: none;
color: black;
}
.left .flex2{
   box-shadow: 26px -27px 37px #e7e7e7;    margin: 2rem auto;
   width: 100%;
   display: flex;
   flex-direction: column;
}
.left .flex2 .container2{
    width: 90%;
    margin: 2rem auto;
}
.left .flex2 .container2 .text{
    display: flex;
    flex-direction: row;
    width: 100%;margin-bottom: 2rem;
}
.left .flex2 .container2 .text p{
    width: 40%;
    text-align: starts;
    font-size: 0.6rem;
    color: #747171;
}
.left .flex2 .container2 .text b{
    text-align: end;
    width: 60%;
    font-weight: bolder;
    font-size: 0.75rem;
}
.left .flex2 .container2 .a{
    font-size: 0.7rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto  auto auto auto;
}
.left .flex2 .container2 a{
    text-align: center;
    text-decoration: none;
    color: #747171;
}
.left .flex2 .container2 a:active{
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#7251b5);    border-radius: 0.5rem;
    padding: 0.2rem 0rem;
    color: white;
    border-radius: 0.5rem;
}
.left .flex2 .container2 a:hover{
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#7251b5);    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0rem;
    color: white;
}
.left .flex2 .container2 .card{
    padding: 1rem 0;
    border-top: #a5a0a0 solid 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.left .flex2 .container2 .card .right{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 30%;
    align-items: center;
}
.left .flex2 .container2 .card .right img{
    width: 100%;
}
.left .flex2 .container2 .card .right .new{
    background-color: #ff0043;
    color: white;
    font-size: 0.75rem;
    border-radius: 0.65rem;
    padding: 0.15rem 0.5rem;
}
.left .flex2 .container2 .card .left{
    width: 60%;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    direction: rtl;

}
.left .flex2 .container2 .card .left a{
    font-size: 0.9rem;
    text-align: start;
    font-weight: bolder;
    color: black;
}
.left .flex2 .container2 .card .left p{
    font-size: 0.6rem;
}
.left .flex2 .hover{
    height: 600px;
    width: 100%;
}
.left .flex2 .hover a{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(64, 66, 68, 0.8), rgba(248, 240, 240, 0.767)), url('./left8.jpg');   
}
.left .flex2 .hover a .img1{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.left .flex2 .hover a .img1 .p1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left .flex2 .hover a .img1 .p1 .text{
    width: 90%;
    font-size: 0.6rem;
    color: white;
    font-weight: bolder;
    direction: rtl;
}
.left .flex2 .hover a .img1 .icon{
    color: white;
}
.left .flex2 .hover a .img1 .p2{
    font-size: 0.6rem;
    color: white;
}
.left .flex2 .hover a .img1 .p3{
    font-size: 0.5rem;
    color: white;
}
/* .container-f{
    width: 10%;
    margin: 0 auto;
}
.finish{
    z-index: 200;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.finish a img{
    max-width: 100%;
    height: 15vh;
} */
.rayane .top .right svg{
    color: #2374ef;
}
.rayane .top .left{
    color: #2374ef;
    width: 60%;
}
.narmafzar .top .right svg{
    color: #ff0043;
}
.narmafzar .top .left{
    color: #ff0043;
    width: 60%;
}
.majale .top .right svg{
    color: #2fc4d2;
}
.majale .top .left{
    color: #2fc4d2;
    width: 60%;
}
.ghadam .top .right svg{
    color: #a4a2a2;
}
.ghadam .top .left{
    color: black;
    width: 60%;
}
.footer{
    box-shadow: #5d5b5b 2px 2px 21px;
    padding: 1rem 0;
    background-image: linear-gradient(to bottom, rgba(247, 251, 255, 0.8), rgba(248, 240, 240, 0.767)), url('./paeen.png');   
    width: 100%; 
}
footer{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    direction: rtl;
}
.rayane{
    display: flex;
    flex-direction: column;
}
.narmafzar{
    display: flex;
    flex-direction: column;
}
.majale{
    display: flex;
    flex-direction: column;
}
.footer .top{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.footer .top .right{
    width: 20%;
}

.footer .top .left p{
    font-size: 0.75rem;
}
.footer .top .left b{
    font-size: 1.1rem;
    font-weight: bolder;
}
.footer .bottom{
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
}
.footer .bottom a{
    text-decoration: none;
    color: #5d5b5b;
    font-size: 0.76rem;
}
.footer .bottom a:hover{
    color: black;
}
.ghaadam{
    display: flex;
    flex-direction: column;
}
.footer .copy{
    align-items: flex-start;
    width: 60%;
    margin: 2rem 6rem;
    display: flex;
    flex-direction: row-reverse;
}
.footer .copy .img{
    margin: 0 1rem;
    width: 20%;
    color: rgb(240, 106, 11);
}
.footer .copy img{
    width: 100%;
}
.footer .copy .text{
    width: 70%;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
}
.footer .copy .text .top{
    margin-bottom: 2rem;
    direction: rtl;
}
.footer .copy .text .bottom{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 0.5rem;
}
.footer .copy .text .bottom .right{
    width: 50%;
    text-align: center;
}
.footer .copy .text .bottom .left{
    width: 40%;
    text-align: center;
    border-left: black 1px solid;
}
@media (max-width:970px) {
    .text{
        grid-template-columns: 25% 20% 20%;
        gap: 7%;        
    }
}
@media (max-width:850px) {
    .flex1-1{
        flex-direction: column;
        justify-content: center;
        direction: rtl;
    }
    .flex1-1 .right{
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .flex1-1 .left{
        direction: rtl;
        width: 70%;
    }
}
@media (max-width:740px) {
    .flex{
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
    }
    .svg{
        width: 70%;
        display: grid;
        grid-template-columns: 10% 10% 10% 10%;
        gap: 5%;
        justify-content: start;
    }
    .text{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .text a .t{
        color: #b6abab;
        font-size: 0.7rem;
        direction: rtl;
        line-height: 1.5rem;
    }
    .container1 p{
        font-size: 0.7rem;
    }
    .flex1-1 .left{
        width: 80%;
    }
    .container3 .img{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        align-items: center;
    }
    .container3 .img .img-3{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 65%;
    }
}